{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "safari": "8"
        },
        "modules": false
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-transform-async-generator-functions",
    "@babel/plugin-transform-export-namespace-from",
    "@babel/plugin-transform-object-rest-spread",
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ]
  ]
}
