:root {
  --background: #ffffff;
  --stroke: #B6B6B6;
  --text: #A0A0A0;
  --text-info: #494949;
  --active-icon-color: #0081E0;
  --active-icon-opacity: 1.0;
  --inactive-icon-color: #000000;
  --inactive-icon-opacity: 0.2;
  --btn-bg: #EBEBEB;
  --btn-text: #494949;
  --primary-btn-bg: #005A9D;
  --primary-btn-text: #ffffff;
  --input-label: #A8A8A8;
  --input-text: #000000;
  --input-background: #FAFAFA;
}


.__skpm-dark,[data-theme='dark'] {
  --background: #212121;
  --stroke: #616161;
  --text: #A0A0A0;
  --text-info: #ffffff;
  --active-icon-color: #0081E0;
  --active-icon-opacity: 1.0;
  --inactive-icon-color: #ffffff;
  --inactive-icon-opacity: 0.3;
  --btn-bg: #3B3B3B;
  --btn-text: #FFFFFF;
  --primary-btn-bg: #005A9D;
  --primary-btn-text: #ffffff;
  --input-label: #A8A8A8;
  --input-text: #ffffff;
  --input-background: #2D2D2D;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', 'Helvetica', 'Arial', sans-serif;
  background: var(--bg-color);
  color: var(--text-color);
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a, a:active, a:visited {
  color: #0079FF;
}

@font-face {
  font-family: emoji;
  src: local('Apple Color Emoji');
  unicode-range: U+1F300-1F5FF, U+1F600-1F64F, U+1F680-1F6FF, U+2600-26FF;
}
